<div class="blogs">
  <% if @posts.size == 0 %>
    <div class="nocontent">没有新的内容, 感谢你的光临.</div>
  <% else %>
    <%= render :partial=> "post", :collection=> @posts %>
  <% end %>
  <% if @has_old %>
    <div class="has_old"><a href class="pagination" data-page="<%= @page + 1 %>">← 更早博客</a></div>
  <% end %>

  <% if @has_new %>
    <div class="has_new"><a href class="pagination" data-page="<%= @page - 1 %>">更新博客 →</a></div>
  <% end %>

</div>

