.admin-posts-edit-page, .admin-posts-index-page {
  td {
    i.fa {
      margin-right: 0.2rem;
    }
    span {
      margin-right: 0.5rem;
    }
  }

  #content-input {
    min-height: 30rem;
  }

  #preview {
    padding: 0.5rem;
    border: 1px solid #eee;
    border-top: none;
    margin-bottom: 0.5rem;
    min-height: 5rem;
    border-radius: 0.5rem;
  }

  #upload_photo {
    float: right;
    margin-top: -2rem;
  }
}
