# This section MUST be configured
SITE_NAME: "WinDy's Blog"

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# sidekiq db
SIDEKIQ_DB: '1'

# google anlytics
GA: ''

# Rails secret token, use `rake secret` to generate new one here.
SECRET_KEY_BASE: 'e4122773d4324fce978c52cde790d84d14f7194f377aea41b7b8302d1d10150e6076a3b7e5e0c1f24ca330cf0a058482c95ea37908bba1722d0761ba5d4e566a'

#locale: en or zh-CN, zh-CN is default value
LOCALE: 'zh-CN'

# sidekiq redis namespace, if you configure two blog in on VPS, you should change it.
# default is wblog
REDIS_NAMESPACE: 'wblog'

# META description for SEO
INTRODUCE: '这是李亚飞的博客, 李亚飞是暂住在深圳的一名 Ruby 程序员, 这里是关于技术, 创业, 生活的思考'

#Website Address for footer display without http
SITE_ADDRESS: 'yafeilee.com'
#Website Year for footer display
SITE_YEAR: '© 2012 - 2019'
#Website beian for footer display
SITE_BEIAN: '粤ICP备19030132号-3'

# optional
# google analytics, blank it if you don't need
GOOGLE: ''

# CDN ( optional )
CDN: ''

# Email Setting, see more: /config/environments/production.rb
MAIL_SERVER: ''
DOMAIN_NAME: ''
MAIL_USERNAME: ''
MAIL_PASSWORD: ''
