@import 'bootstrap_custom';
@import 'libs/markdown';
@import 'admin-lte/dist/css/adminlte';
@import 'admin/posts';

.turbo-progress-bar {
  height: 4px;
  background-color: red;
}

.main-sidebar {
  li.nav-item {
    width: 100%;
    a {
      text-overflow: ellipsis;
    }
  }
}

.login-box {
  margin: 7% auto;
}
