@import 'bootstrap_custom';

@import 'aboutme_welcome';
@import 'archives';
@import 'markdown';
@import 'blogs';
@import 'head';
@import 'qrcodes';
@import 'comments';
@import 'highlight';
@import 'footer';
@import 'like_and_weixin';
@import 'about';

.turbolinks-progress-bar {
  height: 2px;
  background-color: red;
}

img {
  display: block;
}
