@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'foundation_and_overrides';
@import 'foundation-icons';

@import 'aboutme_welcome';
@import 'archives';
@import 'markdown';
@import 'blogs';
@import 'head';
@import 'qrcodes';
@import 'comments';
@import 'highlight';
@import 'footer';
@import 'like_and_weixin';
@import 'admin/*';

.turbolinks-progress-bar {
  height: 2px;
  background-color: red;
}

img {
  display: block;
}
