@use 'bootstrap_custom';
@use 'fontawsome_custom';
@use 'libs/markdown';

@use 'aboutme_welcome';
@use 'archives';
@use 'blogs';
@use 'head';
@use 'qrcodes';
@use 'comments';
@use 'highlight';
@use 'footer';
@use 'like_and_weixin';
@use 'about';
@use 'changelog';

.turbo-progress-bar {
  height: 2px;
  background-color: red;
}

img {
  display: block;
}