.archives-field {
  padding-top: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  i {
    margin-right: 0.5rem;
  }

  span {
    margin-right: 1rem;
  }

  .search-result-wrapper p {
    font-size: 0.785rem;
    color: #999;
  }

  .blog-title {
    color: #111111;
    &:hover {
      color: red;
      text-decoration: none;
    }
    border: none;
    display: inline-block;
    margin-bottom: 0.3rem;

    em {
      color: red;
      font-style: normal;
    }
  }

  li {
    list-style: none;
    color: #666666;
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 1rem;
  }

  .tags-field {
    font-size: 90%;
  }

  .load-more {
    width: 100%;
    text-align: center;
    button {
      background-color: transparent;
      color: #333333;
      border: 1px solid #DDDDDD;
      &:focus {
        outline-style: none;
      }
    }
  }

  .no-more-field p {
    text-align: center;
    color: #444444;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
}
