.blog-title {
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0;
}

.ptag {
  @media only screen and (min-width: 40.063em) {
    text-align: right;
  }
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 95%;
  span {
    margin-left: 0.5rem;
  }
  .has-tip {
    border: none;
  }
}

.content {
  padding-top: 0.5rem;
}

.read-more {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border: 1px solid #ccc;
  color: #333;
  &:hover {
    color: #333;
    border-color: #aaa;
  }
}

.published-at {
  @media only screen and (min-width: 40.063em) {
    text-align: right;
  }
  margin-top: 1rem;
  color: #999;
}

.blog-over {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.recent-title {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.recent-content {
  padding-bottom: 3rem;
  li {
    list-style: disc;
  }
  padding-left: 0rem;
}

.qrcode {
  display: inline-block;
  float: right;
  margin-top: -5.5rem;
  i {
    margin-right: 0.5rem;
  }
}

.qrcode-wrapper {
  float: right;
  margin-top: -2rem;
  text-align: right;
  table {
    float: right;
  }
  p {
    clear: both;
  }
}

.subscribe-ul {
  list-style-type: none;
  margin-left: 0;
  li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  .rss-subscribe {
    margin-top: 0.5rem;
  }

  .subscribe-success {
    margin-left: 1rem;
    color: green;
  }

  .subscribe-fail {
    margin-left: 1rem;
    color: red;
  }
}
