.blog-title {
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0;
}

.ptag {
  text-align: right;
  margin-bottom: 0.5rem;
  span {
    margin-left: 0.5rem;
  }
}

.content {
  padding-top: 0.5rem;
}

.read-more {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5rem;
  margin-bottom: 0.275rem;
}

.published-at {
  text-align: right;
}

.recent-title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5rem;
  margin-bottom: 0.275rem;
}

.recent-content {
  padding-bottom: 3rem;
}
