.footer {
  border-top: 1px solid #dddddd;
  padding: 1rem 0 2rem;
  text-align: right;
  .link {
    margin-right: 1rem;
  }

  .license {
    margin-top: 1rem;
    span {
      margin-left: 0.5rem;
    }
  }
}
