.my-topbar {
  a {
    color: #F7F7F7;

    &:hover {
      color: #999;
    }

    &.title {
      font-weight: bold;
    }
  }

  button {
    outline: 0;
  }

  .title-bar-title {
    margin-left: 0.5rem;
  }
}

#offCanvas {
  min-height: 100%;
  a {
    color: #F7F7F7;
    &:hover {
      background-color: #333;
    }
  }

  label {
    padding: 3px 20px;
    background-color: #545454;
    color: #B9B9B9;
    text-transform: uppercase;
  }
}

.off-canvas-list {
  i {
    margin-right: 0.5rem;
    display: inline-block;
    width: 1rem;
  }
  label {
    cursor: default;
  }
}

