div.head {
  margin-bottom: 2em;
  background-color: #EFEFEF;
  border-bottom: 1px solid #E6E6E6;
  margin: 0 auto 1em;
  div.container {
    .descrip {
      margin-left: 2em;
    }
    ul.nav {
      list-style: none;
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 0.3em;
        width: 78px;
        a {
          display: block;
          padding: 40px 0 10px 10px;
          background-color: black;
          color: white;
          text-decoration: none;
          strong {
            display: block;
            margin-top: 8px;
          }
        }
        a#home {
          background-color: #333;
        }
        a#tech {
          background-color: #224b8f;
        }
        a#life {
          background-color: #f15b6c;
        }
        a#creator {
          background-color: #78cdd1;
        }
      }
    }
  }
}
