.like-button {
  color:  #eaa296 !important;
  background-color: transparent !important;
  border: 1px solid #e79385 !important;
  border-radius: 10rem;
  &:hover {
    color: #e07662 !important;
    border-color: #e27d6b !important;
  }
  &:focus {
    outline-style: none !important;
  }
  span {
    margin-left: 0.23rem;
  }

}

.like-button.liked {
  background-color: #EAA296 !important;
  color: #FFF !important;
  &:focus {
    outline-style: none !important;
  }
}
