.qrcode-image {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
   }
   td {
     border-width: 0;
     border-style: none;
     border-color: #0000ff;
     border-collapse: collapse;
     padding: 0;
     margin: 0;
     width: 10px;
     height: 10px;
   }
   td.black { background-color: #000; }
   td.white { background-color: #fff; }
}
