div.slide {
  display: block;
  float: left;
  width: 400px;
  .subscribe {
    margin-bottom: 19px;
    padding: 9px 0 16px 9px;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-color: #E9F2F5;
    clear: both;
    .subscribe_descrip {
      width: 290px;
      display: inline-block;
      line-height: 20px;
      font-size: 16px;
    }
    a {
      img {
        float: right;
        margin-right: 20px;
      }
    }
  }
}
