h2.blog-title ABOUT ME
p 我的名字是李亚飞( YaFei Lee ), 网名为 WinDy, 由于是我第一个网名, 所以一直使用至今.
p 我是 85 后成员, 目前生活在深圳, 计划长期在这里发展.
p 当年毕业于吉林大学计算机专业, 并在深信服工作约 5 年时间, 如今正在独立创业路中.
p 曾经对软件测试开发领域有浓厚兴趣, 如今对产品开发与公司运营兴趣较多. 平时多研究 Ruby on Rails, Web 开发等技术. 闲暇之余爱好中国象棋, 乒乓球, 读书.
p 最近正在读的书在这里: <a href='http://book.douban.com/people/41759170/collect'>豆瓣书单</a>
  
h4 近期动态
p 目前在独立创业路中, 正在互联网金融大浪中淘金. 
p WinDy's Blog 开博也有 2 年以上了, 由于个人原因, 博客完全自主采用 Ruby on Rails 完成, 在 2014 年 3 月进行了重构, 以移动设备优先进行了设计.
p 闲暇之余, 开通了微信公众账号, 与 WinDy's Blog 不同, 这里不讲技术性内容, 主要面向生活感悟, 个人思考等, 欢迎关注.
= image_tag 'weixin.jpg'
p 也可以搜索 <strong>技术达人李亚飞</strong> 来找到我.
p 我对微信是重度使用者, 几乎不使用微博, 微信账号可以在我个别博客里发现, Enjoying!

h4 更多链接
ul
  li
    a href="https://github.com/windy" target="_blank" Github
  li
    a href="http://www.douban.com/people/41759170/" target="_blank" Douban
  li
    a href="http://www.linkedin.com/pub/yafei-lee/77/3b/505" target="_blank" LinkedIn
