<div class="slide">
  <div class="subscribe">
    <div class="subscribe_descrip">
        如果你想关注我的每一篇文章,推荐进行订阅, 将右面的链接复制到你的阅读器里吧.
    </div>
    <%= link_to(image_tag('rss.png'), rss_blogs_path) %>
  </div>
  <div class="broadcast"></div>
  <div class="comment"></div>
  <div class="recommend"></div>
</div>

