- if (1.days.from_now).strftime('%-m-%-d') =~ /^1-[123]$/
  .new-year.alert.alert-success.alert-dismissible.fade.show role='alert'
    strong 🎉 我的朋友，祝你元旦快乐！
    button.close type='button' data-dismiss='alert' aria-label='Close'
      span aria-hidden='true' &times;
